.contenedor{

    margin: 0 auto;
}


.miColor{

    background-color: #60B2E6;
    color: white;
}

.text-center{
    background-color: #95cdf0;

}

a{
    color:  white;
}



/* MEDIA QUERIES */


@media(max-width:767px){ 

    .container{

     width: 100%;
    }


}
