

.peliculas{
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    margin: auto;
}
.pelicula{
    width: 40%;
    padding: 2%;
    border-radius:10px;
    margin: 15px;
    box-shadow: 5px 5px 10px lightslategray;
    background-color: #e4f4fd;
}